@import '../../style/variable.scss';

.h-card-form {
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .h-card-form-title {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }

    section.h-card-form-input-group-wrapper {
        h3.h-card-form-input-group-header {
            color: $grey;
            font-size: 0.75rem;
            font-weight: 700;
            margin: 0.25rem 0 0.75rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $grey;
        }

        .h-card-form-input-group {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1.5rem;


            .h-card-form-input {
                width: 50%;
                padding-right: 2%;
                box-sizing: border-box;
            }
        }
    }

    section.h-card-form-button-group-wrapper {
        .h-card-form-button-group {
            display: flex;
            flex-wrap: wrap;

            .h-card-form-button {
                width: 50%;
                padding-right: 2%;
                box-sizing: border-box;
            }
        }
    }
}

@media (max-width: $breakpoint-lg) {
    .h-card-form {
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: $breakpoint-sm) {
    .h-card-form {

        section.h-card-form-input-group-wrapper .h-card-form-input-group .h-card-form-input,
        section.h-card-form-button-group-wrapper .h-card-form-button-group .h-card-form-button {
            width: 100%;
        }
    }
}